h1
{
    font-size: 23px; /* Titres de 23 pixels */
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

h2
{
    font-size: 17px; /* Titres de 17 pixels */
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

h3
{
    font-size: 14px; /* Titres de 14 pixels */
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

p
{
    font-size: 14px; /* Titres de 14 pixels */
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-align: justify;
}